*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(136,136,136,1) 100%);
}

#title{
    grid-column: 1/5;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bungee Shade', cursive;
    font-size: 3rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#left-column, #right-column {
    border-style: solid;
    border-width: 0.1em;
    border-color: black;
}

#left-column{
    margin-top: 10vh;
    grid-column: 2/3;
    grid-row: 2/6;
    min-width: 310px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}


#right-column {
    margin-top: 10vh;
    grid-column: 3/4;
    grid-row: 2/6;
    min-width: 310px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}


.center {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.left-padding {
    margin-top: 5vh;
    margin-left: 10%;
    background-color: rgb(207, 223, 164);
    width: 80%;
    height: 30%;
    border-radius: 5px;
    padding-left: 3%;
    padding-top: 8%;
    border: 1px solid rgb(190, 190, 190);
}
  
button{
    margin: 0.3em;
    font-family: Arial, sans-serif;
    height: 2.5em;
    width: 7em;
    margin-top: 5vh;
    cursor: pointer;
}
  
p {
    font-family: 'VT323', monospace;
    font-size: 1.7em;
}